  <div [formGroup]="detailBienForm">
    <div class="container">
      <div class="row vdivide">
        <div class="col-sm-6">
          <div class="card mb-5">
            <div class="card-body">
              <!-- Type de bien -->
              <div class="form-group row">
                <label for="inputTypeBien" class="col-sm-3 col-form-label">Type de bien<em class="text-danger">*</em></label>
                <div class="col-sm-9">
                  <select formControlName="typeBien" class="form-control" id="inputTypeBien">
                    <option [ngValue]="null" disabled>Selectionner type de bien</option>
                    <option value="Commerce">Commerce</option>
                    <option>Option 1</option>
                    <option>Option 1</option>

                  </select>
                </div>
              </div>
              <!-- /Type de bien -->
              <!-- Activite actuel -->
              <div class="form-group row">
                <label for="inputActivite" class="col-sm-3 col-form-label">Activité actuel<em class="text-danger">*</em></label>
                <div class="col-sm-9">
                  <select formControlName="activite" class="form-control" id="inputActivite">
                    <option>Option 1</option>
                    <option>Option 1</option>
                    <option>Option 1</option>
                  </select>
                </div>
              </div>
              <!-- /Activite actuel-->
              <!-- Equipement -->
              <div class="form-group row">
                <label class="col-sm-3 col-form-label">Equipement<em class="text-danger">*</em></label>
              </div>
              <!-- /Equipement -->
              <!-- Activites possibles -->
              <fieldset class="form-group">
                <div class="row">
                  <legend class="col-form-label col-sm-3 pt-0">Activités possibles</legend>
                  <div class="col-sm-9">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="gridRadios" id="licenceIV">
                      <label class="form-check-label" for="licenceIV">
                        Licence IV
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios2">
                      <label class="form-check-label" for="gridRadios2">
                        Liquidation judiciaire
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios3">
                      <label class="form-check-label" for="gridRadios3">
                        Popup store
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios3">
                      <label class="form-check-label" for="gridRadios3">
                        Restaurant avec conduit de cheminée
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios3">
                      <label class="form-check-label" for="gridRadios3">
                        Restauration sans nuisance ou alimentaire
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="gridRadios" id="gridRadios3">
                      <label class="form-check-label" for="gridRadios3">
                        Terrasse
                      </label>
                    </div>
                  </div>
                </div>
              </fieldset>
              <!-- /Activites possibles -->
            </div>
          </div>

        </div>
        <div class="col-sm-6 border-left">
          <div class="card mb-5">
            <div class="card-body">
              <div formGroupName="adresseBien">
                <!-- Adresse -->
                <div class="form-group row">
                  <label for="inputAdresse" class="col-sm-3 col-form-label">Adresse<em class="text-danger">*</em></label>
                  <div class="col-sm-9">
                    <input type="text" formControlName="adresse" class="form-control" id="inputAdresse" placeholder="Adresse">
                  </div>
                </div>
                <!-- /Adresse -->
                <!-- Ville -->
                <div class="form-group row">
                  <label for="inputVille" class="col-sm-3 col-form-label">Ville<em class="text-danger">*</em></label>
                  <div class="col-sm-9">
                    <input type="text" formControlName="ville" class="form-control" id="inputVille" placeholder="Ville">
                  </div>
                </div>
                <!-- /Ville -->
                <!-- CP -->
                <div class="form-group row">
                  <label for="inputCodePostal" class="col-sm-3 col-form-label">CP<em class="text-danger">*</em></label>
                  <div class="col-sm-3">
                    <input type="text" formControlName="codePostal" class="form-control" id="inputCodePostal" placeholder="Code Postal">
                  </div>
                </div>
                <!-- /CP -->
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
