<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-body">
        <div class="d-flex mb-5">
          <span class="m-auto"></span>
          <btn-loading btnClass="btn-primary" [loading]="loading" (click)="rechercherBien()">Rechercher</btn-loading>
        </div>
        <!--==== Form Area =====-->
        <form [formGroup]="rechercherBienForm">
          <div class="row justify-content-between">
            <div class="col-md-6">
              <h4 class="font-weight-bold">Nom titulaire</h4>
              <div class="col-sm-4 form-group mb-3 pl-0">
                <label for="nomTitulaire">Nom titulaire</label>
                <input formControlName="nomTitulaire" type="text" class="form-control" id="nomTitulaire">
              </div>
            </div>
          </div>
        </form>
        <!--==== / Edit Area =====-->
      </div>
    </div>
  </div>
</div>
