<ng-template #longContent let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Modal title</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">


    <div [formGroup]="clientForm">
      <div class="container">
        <div class="row vdivide">
          <div class="col-sm-6">
            <div class="card mb-5">
              <div class="card-body">

                <!-- Civilite -->
                <div class="form-group row">
                  <label for="civilite" class="col-sm-4 col-form-label">Type de Bail</label>
                  <div class="col-sm-8">
                    <select formControlName="civilite" class="form-control" id="civilite" name="civilite">
                      <option [ngValue]="null" disabled>Selectionner type de bien</option>
                      <option value="M">Monsieur</option>
                      <option value="Mme">Madame</option>
                      <option value="Mlle">Moidemoiselle</option>
                    </select>
                  </div>
                </div>
                <!-- /Civilite -->

                <!-- Nom -->
                <div class="form-group row">
                  <label for="nom" class="col-sm-4 col-form-label">Nom<em class="text-danger">*</em></label>
                  <div class="col-sm-8">
                    <input type="text" formControlName="nom" class="form-control" id="nom" placeholder="Nom">
                  </div>
                </div>
                <!-- /Nom -->

                <!-- prenom -->
                <div class="form-group row">
                  <label for="prenom" class="col-sm-4 col-form-label">Prénom<em class="text-danger">*</em></label>
                  <div class="col-sm-8">
                    <input type="text" formControlName="prenom" class="form-control" id="prenom" placeholder="Prénom">
                  </div>
                </div>
                <!-- /prenom -->
                <!-- societeEnCreation -->
                <div class="form-group row">
                  <label for="societeEnCreation" class="col-sm-4 col-form-label">Société en création</label>
                  <div class="col-sm-8">
                    <div class="form-check">
                      <input formControlName="societeEnCreation" class="form-check-input" type="radio" name="societeEnCreation" id="societeEnCreation1" value="true">
                      <label class="form-check-label" for="societeEnCreation">
                        Oui
                      </label>
                    </div>
                    <div class="form-check">
                      <input formControlName="societeEnCreation" class="form-check-input" type="radio" name="societeEnCreation" id="societeEnCreation2" value="false">
                      <label class="form-check-label" for="societeEnCreation">
                        Non
                      </label>
                    </div>
                  </div>
                </div>
                <!-- /societeEnCreation -->

                <!-- Société -->
                <div class="form-group row">
                  <label for="societe" class="col-sm-4 col-form-label">Société<em class="text-danger">*</em></label>
                  <div class="col-sm-8">
                    <input type="text" formControlName="societe" class="form-control" id="societe" placeholder="Société">
                  </div>
                </div>
                <!-- /Société -->

              </div>
            </div>

          </div>
          <div class="col-sm-6 border-left">
            <div class="card mb-5">
              <div class="card-body">
                <!-- Tel -->
                <div class="form-group row">
                  <label for="tel" class="col-sm-4 col-form-label">Tél<em class="text-danger">*</em></label>
                  <div class="col-sm-8">
                    <input type="text" formControlName="tel" class="form-control" id="tel" placeholder="Société">
                  </div>
                </div>
                <!-- /Tel-->
                <!-- eMail -->
                <div class="form-group row">
                  <label for="email" class="col-sm-4 col-form-label">Email<em class="text-danger">*</em></label>
                  <div class="col-sm-8">
                    <input type="text" formControlName="email" class="form-control" id="email" placeholder="email">
                  </div>
                </div>
                <!-- /eMail-->
                <!-- emailSup -->
                <div class="form-group row">
                  <label for="emailSup" class="col-sm-4 col-form-label">Email Supp<em class="text-danger">*</em></label>
                  <div class="col-sm-8">
                    <input type="text" formControlName="emailSup" class="form-control" id="emailSup" placeholder="Email Supplémentaire">
                  </div>
                </div>
                <!-- /emailSup-->
                <!-- Activité -->
                <div class="form-group row">
                  <label for="activite" class="col-sm-4 col-form-label">Activité</label>
                  <div class="col-sm-8">
                    <select formControlName="activite" class="form-control" id="activite" name="activite">
                      <option [ngValue]="null" disabled>Selectionner type de bien</option>
                      <option value="marchand">Marchand de Bien</option>
                      <option value="restaurant">Restaurant</option>
                      <option value="pretAPorter">Prêt à porter</option>
                    </select>
                  </div>
                </div>
                <!-- /Activité -->
                <!-- demandeRDV -->
                <div class="form-group row">
                  <label for="demandeRDV" class="col-sm-4 col-form-label">Demande de RDV</label>
                  <div class="col-sm-8">
                    <div class="form-check">
                      <input formControlName="demandeRDV" class="form-check-input" type="radio" name="demandeRDV" id="demandeRDV1" value="true">
                      <label class="form-check-label" for="demandeRDV">
                        Oui
                      </label>
                    </div>
                    <div class="form-check">
                      <input formControlName="demandeRDV" class="form-check-input" type="radio" name="demandeRDV" id="demandeRDV2" value="false">
                      <label class="form-check-label" for="demandeRDV">
                        Non
                      </label>
                    </div>
                  </div>
                </div>
                <!-- /demandeRDV -->
                <!-- newsLetter -->
                <div class="form-group row">
                  <label for="newsLetter" class="col-sm-4 col-form-label">Demande de RDV</label>
                  <div class="col-sm-8">
                    <div class="form-check">
                      <input formControlName="newsLetter" class="form-check-input" type="radio" name="newsLetter" id="newsLetter1" value="true">
                      <label class="form-check-label" for="newsLetter">
                        Oui
                      </label>
                    </div>
                    <div class="form-check">
                      <input formControlName="newsLetter" class="form-check-input" type="radio" name="newsLetter" id="newsLetter2" value="false">
                      <label class="form-check-label" for="newsLetter">
                        Non
                      </label>
                    </div>
                  </div>
                </div>
                <!-- /newsLetter -->
                <!-- consentementRGPD -->
                <div class="form-group row">
                  <label for="consentementRGPD" class="col-sm-4 col-form-label">Consentement RGPD</label>
                  <div class="col-sm-8">
                    <div class="form-check">
                      <input formControlName="consentementRGPD" class="form-check-input" type="radio" name="consentementRGPD" id="consentementRGPD1" value="true">
                      <label class="form-check-label" for="consentementRGPD">
                        Oui
                      </label>
                    </div>
                    <div class="form-check">
                      <input formControlName="consentementRGPD" class="form-check-input" type="radio" name="consentementRGPD" id="consentementRGPD2" value="false">
                      <label class="form-check-label" for="consentementRGPD">
                        Non
                      </label>
                    </div>
                  </div>
                </div>
                <!-- /consentementRGPD -->
              </div>
            </div>
          </div>
        </div>


        <!-- /adresse -->
        <br>
        <div class="row vdivide">
          <div class="col-sm-12">
            <div class="form-group row">
              <div class="col-sm-8">
                <div formGroupName="adresse">
                  <!-- Adresse -->
                  <div class="form-group row">
                    <label for="inputAdresse" class="col-sm-4 col-form-label">Adresse<em class="text-danger">*</em></label>
                    <div class="col-sm-8">
                      <input type="text" formControlName="adresse" class="form-control" id="adresse" placeholder="Adresse">
                    </div>
                  </div>
                  <!-- /Adresse -->
                </div>
              </div>


              <div class="col-sm-8">
                <!-- recevoirAlertEmail -->
                <div class="form-group row">
                  <label for="recevoirAlertEmail" class="col-sm-4 col-form-label">Consentement RGPD</label>
                  <div class="col-sm-8">
                    <div class="form-check">
                      <input formControlName="recevoirAlertEmail" class="form-check-input" type="radio" name="recevoirAlertEmail" id="recevoirAlertEmail1" value="true">
                      <label class="form-check-label" for="recevoirAlertEmail">
                        Oui
                      </label>
                    </div>
                    <div class="form-check">
                      <input formControlName="recevoirAlertEmail" class="form-check-input" type="radio" name="recevoirAlertEmail" id="recevoirAlertEmail2" value="false">
                      <label class="form-check-label" for="recevoirAlertEmail">
                        Non
                      </label>
                    </div>
                  </div>
                </div>
                <!-- /recevoirAlertEmail -->
              </div>

            </div>
          </div>
        </div>
        <!-- /adresse -->

      </div>
    </div>


  </div>



  <div class="modal-footer">
    <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Close</button>
  </div>
</ng-template>
<!-- button class="btn btn-outline-primary mb-2 mr-2" (click)="openLg(longContent)">Large modal</!-->
