<div [formGroup]="consultantResponsableForm">
  <div class="form-group row">
    <label for="consultantAssocie" class="col-sm-3 col-form-label">Ajouter un consulant associé</label>
    <div class="col-sm-3">
      <select formControlName="consultantAssocie" class="form-control" id="consultantAssocie">
        <option [ngValue]="null" disabled>Selectionner un consultant</option>
        <option *ngFor="let consultant of (consultantService.consultants$ | async)" [ngValue]="consultant">{{ consultant.nom + ' ' + consultant.prenom }}</option>
      </select>
    </div>
    <div class="col-sm-2">
      <button class="btn btn-primary btn-rounded" (click)="associerConsultant()">Associer le consultant</button>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-12 col-md-12">
      <div class="row">
        <div class="col-md-12">
          <div class="card mb-4">
            <div class="card-body">
              <div class="card-title m-2">Consultants associés :</div>
              <div class="row" formArrayName="consultantsAssocies">

                <div class="col-lg-3" *ngFor="let consultant of consultantResponsableForm.controls['consultantsAssocies']['controls']; let i = index;" [formGroupName]="i">
                  <div class="card card-ecommerce-1 mb-4">
                    <div class="card-body text-center">
                      <i class="i-MaleFemale mb-3"></i>
                      <h5 class="text-primary">{{consultantResponsableForm.controls['consultantsAssocies'].controls[i].controls['nom'].value + ' ' + consultantResponsableForm.controls['consultantsAssocies'].controls[i].controls['prenom'].value}}</h5>
                      <p>Tel : {{consultantResponsableForm.controls['consultantsAssocies'].controls[i].controls['tel'].value}}</p>
                      <p>Email : {{consultantResponsableForm.controls['consultantsAssocies'].controls[i].controls['email'].value}}</p>
                      <button class="btn btn-primary btn-rounded" (click)="detacherConsultant(i)">Détacher le consultant</button>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
