<div class="d-flex align-items-baseline border-bottom justify-content-between">
  <div>
    <h3 class="text-secondary">Edition d'un bien</h3>
  </div>
  <div>
    <button type="button" class="btn btn-outline-info m-2">Enregistrer comme brouillon</button>
    <button type="button" class="btn btn-outline-primary">Valider</button>

  </div>
</div>
<div class="border-top mb-4"></div>
<form *ngIf="bienForm$ | async as bienForm" [formGroup]="bienForm" (submit)="onSubmit(bienForm.value)">
  <div>

    <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="ngb-panel-0">

      <!-- Consultant Responsable Accordion -->
      <ngb-panel title="Consultants Responsables">
        <ng-template ngbPanelContent>
          <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
            <app-consultant-responsable [consultantResponsableForm]="bienForm.controls['nomTitulaire']"></app-consultant-responsable>
          </div>
        </ng-template>
      </ngb-panel>
      <!-- /Consultant Responsable Accordion -->

      <!-- Detail Bien Accordion -->
      <ngb-panel>
        <ng-template ngbPanelTitle>
          <span>Detail Bien</span>
        </ng-template>
        <ng-template ngbPanelContent>
          <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
            <app-detail-bien [detailBienForm]="bienForm.controls['detailBien']"></app-detail-bien>
          </div>
        </ng-template>
      </ngb-panel>
      <!-- /Detail Bien Accordion -->

      <!-- Mandat Accordion -->
      <ngb-panel title="Mandat">
        <ng-template ngbPanelContent>
          <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
            <app-mandat></app-mandat>
          </div>
        </ng-template>
      </ngb-panel>
      <!-- /Mandat Accordion -->

      <!-- Bail Accordion -->
      <ngb-panel title="Bail">
        <ng-template ngbPanelContent>
          <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
            <app-bail [bailForm]="bienForm.controls['bail']"></app-bail>
          </div>
        </ng-template>
      </ngb-panel>
      <!-- /Bail Accordion -->

      <!-- Conditions financieres Accordion -->
      <ngb-panel title="Condition financières">
        <ng-template ngbPanelContent>
          <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
            <app-mandat></app-mandat>
          </div>
        </ng-template>
      </ngb-panel>
      <!-- /Conditions financieres Accordion -->

      <!-- Acces/Visite Accordion -->
      <ngb-panel title="Accès/Visite">
        <ng-template ngbPanelContent>
          <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
            <app-mandat></app-mandat>
          </div>
        </ng-template>
      </ngb-panel>
      <!-- /Acces/Visite Accordion -->

      <!-- Surface Accordion -->
      <ngb-panel title="Surface">
        <ng-template ngbPanelContent>
          <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
            <app-mandat></app-mandat>
          </div>
        </ng-template>
      </ngb-panel>
      <!-- /Surface Accordion -->

      <!-- Descritif Accordion -->
      <ngb-panel title="Descritif">
        <ng-template ngbPanelContent>
          <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
            <app-mandat></app-mandat>
          </div>
        </ng-template>
      </ngb-panel>
      <!-- /Descritif Accordion -->

      <!-- Photos Accordion -->
      <ngb-panel title="Photos">
        <ng-template ngbPanelContent>
          <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
            <app-mandat></app-mandat>
          </div>
        </ng-template>
      </ngb-panel>
      <!-- /Photos Accordion -->

      <!-- Videos Accordion -->
      <ngb-panel title="Videos">
        <ng-template ngbPanelContent>
          <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
            <app-mandat></app-mandat>
          </div>
        </ng-template>
      </ngb-panel>
      <!-- /Videos Accordion -->

      <!-- Contacts Accordion -->
      <ngb-panel title="Contacts">
        <ng-template ngbPanelContent>
          <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
            <app-mandat></app-mandat>
          </div>
        </ng-template>
      </ngb-panel>
      <!-- /Contacts Accordion -->

      <!-- Communication Accordion -->
      <ngb-panel title="Communication">
        <ng-template ngbPanelContent>
          <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
            <app-mandat></app-mandat>
          </div>
        </ng-template>
      </ngb-panel>
      <!-- /Communication Accordion -->

      <!-- Documents Accordion -->
      <ngb-panel title="Documents">
        <ng-template ngbPanelContent>
          <div [@animate]="{value:'*',params:{y:'20px',opacity:'0',delay:'0ms', duration: '400ms'}}">
            <app-mandat></app-mandat>
          </div>
        </ng-template>
      </ngb-panel>
      <!-- /Documents Accordion -->

    </ngb-accordion>

  </div>

  <div class="mt-3">
    <button type="submit" class="btn btn-primary" [disabled]="!bienForm.valid">Submit</button>
  </div>
</form>
