<div [formGroup]="bailForm">
  <div class="container">
    <div class="row vdivide">
      <div class="col-sm-6">
        <!-- Type de bien -->
        <div class="form-group row">
          <label for="typeBail" class="col-sm-4 col-form-label">Type de Bail<em class="text-danger">*</em></label>
          <div class="col-sm-8">
            <input type="text" formControlName="typeBail" class="form-control" name="typeBail" id="typeBail" placeholder="Type de Bail">
          </div>
        </div>
        <!-- /Type de bien -->
      </div>
      <div class="col-sm-6 border-left">
        tata
      </div>
    </div>
  </div>
</div>
